<a href="https://colab.research.google.com/github/Mataf777/ClassColab/blob/main/Practica12_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Práctica 12: Carga de Datos

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

In [ ]:
import pandas as pd

# Ruta del archivo
ruta = "/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv"

# Cargar CSV omitiendo la última fila
df = pd.read_csv(ruta, skipfooter=1, engine="python")

# Mostrar las últimas 3 filas para comprobar que no se cargó la línea irrelevante
print("Últimas 3 filas:")
print(df.tail(3))

# Mostrar dimensiones del dataframe
print("\nDimensiones del dataframe:")
print("Filas:", df.shape[0])
print("Columnas:", df.shape[1])

Últimas 3 filas:
       Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84545        8411        5      WOODROW
84546        8412        5      WOODROW
84547        8413        5      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                ADDRESS  \
84545   7351   60                                  B2       49 PITNEY AVENUE
84546   7100   28                                  K6  2730 ARTHUR KILL ROAD
84547   7105  679                                  P9      155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[3 rows x 22 columns]

Dimensiones del dataframe:
Filas: 84548
Columnas: 22

#Práctica 13: Cambiar nombre de columna

Imprime los nombres de la columnas del archivo
Asegúrate que el nombre de la primera columna debería ser INDEX MIAAD. Si esto no es así, entonces cambia el nombre de la columna y vuelve a imprimir los nombres para mostrar el cambio realizado. Después del cambio debería aparecer INDEX MIAAD

In [ ]:

#Mostrar nombres originales

print("Nombres originales de las columnas:")
print(df.columns.tolist())


#Verificar y cambiar si es necesario


if df.columns[0] != "INDEX MIAAD":
    print("\nLa primera columna NO se llama 'INDEX MIAAD'. Se realizará el cambio...\n")

    # Cambiar nombre de la primera columna
    df.rename(columns={df.columns[0]: "INDEX MIAAD"}, inplace=True)


#Mostrar nombres después del cambio


print("Nombres de las columnas después de la verificación/cambio:")
print(df.columns.tolist())

Nombres originales de las columnas:
['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

La primera columna NO se llama 'INDEX MIAAD'. Se realizará el cambio...

Nombres de las columnas después de la verificación/cambio:
['INDEX MIAAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

#Práctica 14: Normalización de los nombres de la columna.

Normaliza los nombres de las columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo
Imprime los nombres de las columnas para demostrar que has realizado la normalización.

In [ ]:

#Mostrar nombres originales


print("Nombres originales:")
print(df.columns.tolist())


#Normalizar nombres


df.columns = (
    df.columns
    .str.lower()          # convertir a minúsculas
    .str.replace(" ", "_") # reemplazar espacios por _
)


#Mostrar nombres normalizados


print("\nNombres después de la normalización:")
print(df.columns.tolist())

Nombres originales:
['INDEX MIAAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE']

Nombres después de la normalización:
['index_miaad', 'borough', 'neighborhood', 'building_class_category', 'tax_class_at_present', 'block', 'lot', 'ease-ment', 'building_class_at_present', 'address', 'apartment_number', 'zip_code', 'residential_units', 'commercial_units', 'total_units', 'land_square_feet', 'gross_square_feet', 'year_built', 'tax_class_at_time_of_sale', 'building_class_at_time_of_sale', 'sale_price', 'sale_date']

#Práctica 15: Errores en los Tipos de Datos

Imprime los tipos de datos de cada columna.
Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [ ]:

#Ver tipos originales


print("Tipos de datos originales:\n")
print(df.dtypes)


#Verificar tipos específicos


print("\nTipos actuales de las columnas importantes:")
print("sale_price:", df["sale_price"].dtype)
print("land_square_feet:", df["land_square_feet"].dtype)
print("gross_square_feet:", df["gross_square_feet"].dtype)


#Convertir a tipo float si es necesario


df["sale_price"] = pd.to_numeric(df["sale_price"], errors="coerce")
df["land_square_feet"] = pd.to_numeric(df["land_square_feet"], errors="coerce")
df["gross_square_feet"] = pd.to_numeric(df["gross_square_feet"], errors="coerce")


#Verificar nuevamente


print("\nTipos de datos después de la conversión:\n")
print(df.dtypes)


print("\nTipos actuales de las columnas importantes:")
print("sale_price:", df["sale_price"].dtype)
print("land_square_feet:", df["land_square_feet"].dtype)
print("gross_square_feet:", df["gross_square_feet"].dtype)

Tipos de datos originales:

index_miaad                        int64
borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease-ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                        object
sale_date                         object
dtype: object

Tipos actuales de las columnas importantes:
sale_price: object
land_square_feet: object
gross_square_feet: object

Tipos de datos después de la conversión:

index_miaad                         int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

Tipos actuales de las columnas importantes:
sale_price: float64
land_square_feet: float64
gross_square_feet: float64

#Práctica 16: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario

In [ ]:

#Crear diccionario de datos


diccionario_datos = {}

for col in df.columns:
    diccionario_datos[col] = {
        "tipo_de_dato": str(df[col].dtype),
        "valores_no_nulos": int(df[col].notnull().sum()),
        "valores_nulos": int(df[col].isnull().sum())
    }


#Imprimir el diccionario


print("Diccionario de datos del dataframe preprocesado:\n")

for columna, info in diccionario_datos.items():
    print(f"Columna: {columna}")
    print(f"  Tipo de dato: {info['tipo_de_dato']}")
    print(f"  Valores no nulos: {info['valores_no_nulos']}")
    print(f"  Valores nulos: {info['valores_nulos']}")
    print("-" * 40)

Diccionario de datos del dataframe preprocesado:

Columna: index_miaad
  Tipo de dato: int64
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: borough
  Tipo de dato: int64
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: neighborhood
  Tipo de dato: object
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: building_class_category
  Tipo de dato: object
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: tax_class_at_present
  Tipo de dato: object
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: block
  Tipo de dato: int64
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: lot
  Tipo de dato: int64
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: ease-ment
  Tipo de dato: object
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: building_class_at_present
  Tipo de dato: object
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: address
  Tipo de dato: object
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: apartment_number
  Tipo de dato: object
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: zip_code
  Tipo de dato: int64
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: residential_units
  Tipo de dato: int64
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: commercial_units
  Tipo de dato: int64
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: total_units
  Tipo de dato: int64
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: land_square_feet
  Tipo de dato: float64
  Valores no nulos: 58296
  Valores nulos: 26252
----------------------------------------
Columna: gross_square_feet
  Tipo de dato: float64
  Valores no nulos: 56936
  Valores nulos: 27612
----------------------------------------
Columna: year_built
  Tipo de dato: int64
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: tax_class_at_time_of_sale
  Tipo de dato: int64
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: building_class_at_time_of_sale
  Tipo de dato: object
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------
Columna: sale_price
  Tipo de dato: float64
  Valores no nulos: 69987
  Valores nulos: 14561
----------------------------------------
Columna: sale_date
  Tipo de dato: object
  Valores no nulos: 84548
  Valores nulos: 0
----------------------------------------